Prácticas/práctica14 - MarioAnimatedSprites/AnimatedSprites/AnimatedSprites/Service References/ServiceReference1/Cartelera.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WCFServiceWebRole1" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WCFServiceWebRole1" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfPelicula">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Pelicula" nillable="true" type="tns:Pelicula" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPelicula" nillable="true" type="tns:ArrayOfPelicula" />
  <xs:complexType name="Pelicula">
    <xs:sequence>
      <xs:element minOccurs="0" name="horario" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="nombre" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Pelicula" nillable="true" type="tns:Pelicula" />
</xs:schema>