Prácticas/Práctica12 - TestDemoPhoneApp1/TestDemoPhoneApp1/Service References/ServiceJson/ServiceJSON.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://demotsci.azurewebsites.net/ServiceJSON.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/JSONService.Model" />
  <xs:element name="DoWork">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DoWorkResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Saludos">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SaludosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SaludosResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEstudiante">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idEstudiante" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="dos" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEstudianteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/JSONService.Model" minOccurs="0" name="GetEstudianteResult" nillable="true" type="q1:Estudiante" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEstudiantes">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEstudiantesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/JSONService.Model" minOccurs="0" name="GetEstudiantesResult" nillable="true" type="q2:ArrayOfEstudiante" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>