Prácticas/Práctica12 - TestDemoPhoneApp1/TestDemoPhoneApp1/Service References/ServiceJson/ServiceJSON2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/JSONService.Model" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/JSONService.Model" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Estudiante">
    <xs:sequence>
      <xs:element minOccurs="0" name="apellidomaterno" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="apellidopaterno" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="edad" type="xs:int" />
      <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="nombre" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Estudiante" nillable="true" type="tns:Estudiante" />
  <xs:complexType name="ArrayOfEstudiante">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Estudiante" nillable="true" type="tns:Estudiante" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEstudiante" nillable="true" type="tns:ArrayOfEstudiante" />
</xs:schema>